numpy
psutil
ttkthemes
keyboard
pygetwindow
requests
matplotlib

# Pin older version of setuptools to avoid pkg_resources deprecation warning from pygame
setuptools<81
pygame
Pillow
SimConnect
pywin32
pywinpty
